@use 'variables';
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
* {
    margin: 0;
    box-sizing: border-box;
}
header {
    margin-top: 20px;
    border-bottom: 2px solid variables.$lightgray;
    .logo {
        width: 200px;
        height: 80px;
        background-image: url(images/post-itlogo.png);
        background-size: 100% 100%;
        margin-bottom: 15px;
    }
    .search {
        width: 700px;
        height: 50px;
        margin-top: 15px;
        #pagesearch {
            border: 1px solid variables.$lightgray;
            border-radius: 30px;
            padding-left: 20px;
        }
    }
    .account {
        height: 50px;
        display: flex;
        justify-content: center;
        border-left: 1px solid variables.$gray;
        margin-top: 15px;
        .profile-picture {
            width: 50px;
            aspect-ratio: 1/1;
            background-image: url(images/bobrossprofile.jpg);
            background-size: 100% 100%;
            border-radius: 30px;
            margin-left: 10px;
        }
        .username {
            height: 25px;
            p {
                margin: 12px 0px 0px 10px;
            }
        }
    }
}
.content {
    display: grid;
    grid-template-areas: "lists list";
    .lists {
        grid-area: lists;
        display: flex;
        flex-direction: column;
        text-align: center;
        grid-column: 1;
        border-right: 1px solid variables.$lightgray;
        height: 100%;
        .lists-title {
            display: flex;
            border-bottom: 2px solid variables.$lightgray;
            justify-content: center;
            width: 100%;
            h1 {
                padding-left: 10px;
            }
            #addlist {
                width: 40px;
                height: 40px;
                border: none;
                background-color: variables.$white;
                margin: 7px 0px 0px 10px;
                &:hover .material-symbols-outlined {
                    font-size: 35px;
                    transition: 0.5s;
                    margin: -4px 0px 0px -5px;
                }
                .material-symbols-outlined {
                    font-size: 25px;
                    padding-top: 5px;
                }
            }
        }
        .lists-group {
            width: 100%;
        }
    }
    #list-body {
        grid-area: list;
        grid-column: 2 / span 5;
        display: flex;
        align-items: center;
        flex-direction: column;
        .list {
            width: 300px;
            border-bottom: 1px solid variables.$lightgray;
            h1 {
                font-size: 40px;
                text-align: center;
            }
            button {
                border: none;
                background-color: variables.$white;
                &:hover .material-symbols-outlined {
                    font-size: 35px;
                    transition: 0.5s;
                    margin: -4px 0px 0px -5px;
                }
                .material-symbols-outlined {
                    font-size: 25px;
                    padding-top: 5px;
                }
            }
            ul {
                list-style-type: none;
                li {
                    position: relative;
                    padding-bottom: 10px;
                    button {
                        position: absolute;
                        top: -6px;
                    }
                }
            }
            
        }
    }
}